{% extends "index.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="welcome-container">
    <h2 style="font-size: 20px;">Bienvenido
        <a href="{{ url_for('idvistaeditarperfil.vista_editar_perfil') }}" >perfil</a>
        , {{ usuario }}!
        <a href="{{ url_for('home.logout') }}" class="logout-link">Cerrar sesión</a>
    </h2>
</div>

<div id="map"></div>

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<!-- Base JS -->
<script src="{{ url_for('static', filename='js/base.js') }}"></script>

<!-- Estilo css -->
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% endblock %}