body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/static/img/fondo_login.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}